@page "/create"

<h3>Создать сценарий</h3>

<div class="d-flex flex-column gap-3 mt-3">
    <a class="btn btn-primary" href="/create/block">
        📦 Блочный режим
    </a>
    <a class="btn btn-secondary" href="/create/txt">
        📝 Текстовый режим
    </a>
</div>
