<NavLink class="nav-link" href="/create/block">
    <span class="oi oi-grid-three-up" aria-hidden="true"></span> Блочный режим
</NavLink>

<NavLink class="nav-link" href="/create/txt">
    <span class="oi oi-pencil" aria-hidden="true"></span> Текстовый режим
</NavLink>